
<div class="container">
  <h2>Paises Participantes</h2>
  <div *ngIf="selected">
    <app-equipo-detail [equipoDetail]="selectedEquipo"></app-equipo-detail>
  </div>

  <hr />

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th >Nombre</th>
        <th >Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of equipos">
        <td>
          <a href="#" (click)="onSelected(c); $event.preventDefault();">{{ c.name }}</a>
        </td>
        <td>{{ c.group_points }}</td>
      </tr>
    </tbody>
  </table>
</div>
