<div class="container-fluid">
  <p class="h3 p-3">{{ equipoDetail.name }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Grupo</dt>
        <dd>{{ equipoDetail.group_letter }}</dd>
        <dt>Puntos</dt>
        <dd>{{ equipoDetail.group_points }}</dd>
        <dt>Victorias</dt>
        <dd>{{ equipoDetail.wins }}</dd>
        <dt>Empates</dt>
        <dd>{{ equipoDetail.draws }}</dd>
        <dt>Derrotas</dt>
        <dd>{{ equipoDetail.losses }}</dd>
        <dt>Goles a favor</dt>
        <dd>{{ equipoDetail.goals_for }}</dd>
        <dt>Goles en contra</dt>
        <dd>{{ equipoDetail.goals_against }}</dd>
        <dt>Total gol de diferencia</dt>
        <dd>{{ equipoDetail.goal_differential }}</dd>
      </dl>
    </div>
  </div>
</div>
