<div class="container">
  <div class="row">
      <div class="col">
          <table class="table table-striped table-bordered">
              <thead class="thead">
                 <tr>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Date Time</th>
                    <th>Stage Name</th>
                    <th>Winner</th>
                    <th>Status</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let c of partidos">
                  <td>
                    <dd>{{c.home_team.name}}</dd>
                  </td>
                  <td>
                    <dd>{{c.away_team.name}}</dd>
                  </td>
                  <td>
                    <dd>{{c.datetime}}</dd>
                  </td>
                  <td>
                    <dd>{{c.stage_name}}</dd>
                  </td>
                  <td>
                    <dd>{{c.winner}}</dd>
                  </td>
                  <td>
                    <dd>{{c.status}}</dd>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
